.sunshine {
  background-image: url("https://i.ibb.co/H20Bv0t/sunshine.png");
  background-size: contain;
  background-repeat: no-repeat;
  flex: start;
  max-height: 80vh;
  max-width: 80vh;
  padding-bottom: 5rem;
  padding-right: 5rem;
  object-fit: contain;
  position: relative;
  background-position-x: -4rem;
}
.titles {
  margin-left: 5rem;
}
